.mbtncarousel1{
    position: relative;
    left: 30px;
}
.mbtncarousel2{
    position: relative;
    right: 50px;
}
.btndragon{
    background-color: rgb(104, 118, 243);
}
.btnfantasma{
    background-color: rgba(114, 37, 187, 0.884);
}


/* MediaQueries */
@media all and (max-width: 768px){
    .fotolideres{
        width: 85%;
        align-items: end;
    }
    .fotogimnasio{
        width: 101%;
    }
    .mbtncarousel1{
        position: relative;
        left: 10px;
    }
    .mbtncarousel2{
        position: relative;
        right: 30px;
    }
}
@media all and (max-width: 576px){
    .fotolideres{
        width: 107%;
    }
    .fotogimnasio{
        width: 101%;
    }
} @media all and (min-width: 768px){
    .fotolideres{
        width: 100%;
    }
    .fotogimnasio{
        width: 101%;
    }
}